#logoName {
    font-size: 70px;
    float: center;
    padding: 10px;
    color: rgba(134,21,174,1);
    text-align: center; 
}

/* columns styling */
[class|="bi bi-star"] { 
    text-shadow: 0 0 3px #000; 
    color: 
    yellow 
}
/* .container, .sub-col{
    margin: 1rem;
    padding: 2rem 2rem;

} */
.column, .col1, .col2{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}

#CGinfo{
    float: left;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    text-align: center;
    width: 400px;
    height: 600px;
}

#phoneInfo, #emailInfo, #stars{
    padding: 10px;
    font-size: 20px;
}

#parentImage{
    border-radius: 50%;
}

/* General info class=nameBlock */
/* .col1, .col2{
    background-color: #f7eafa;
} */

/* detailed info class= details */
#details{
    background-color: rgb(233, 201, 243);
    border-radius: 20px;
}

#header{
    font-size: 30px;
    font-weight: bold;
}

#bullets, #ref, #ICE {
    font-size: 20px;
}


