/* Header styling */
#logoName {
    font-size: 70px;
    float: center;
    padding: 5px;
    color: rgba(134,21,174,1);
    text-align: center; 
    font-family: "Crafty Girls"; 
}

#CGname{
    font-family: "Crafty Girls"; 
}

#myProfile{
    width: 2.5%;
    height: auto;
    float: right;
   
}

#msg-icon {
    width: 3%;
    height: auto;
    float: right;
    margin-right: 3px;
}

/* columns styling */
.column, .col1, .col2{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: "Open Sans";
}

#col-2{
    margin-right: 100px;
}


/* column 1 styling */
#col-1{
    float: left;
    padding: 20px;
    margin-right: 1px;
    margin-left: 75px;
    font-size: 30px;
    text-align: center;
    width: 400px;
    height: 600px;
}

/* general texts and button styling */
#phoneInfo, #emailInfo, #stars{
    padding: 10px;
    font-size: 20px;
}

[class="bi bi-telephone"]   { color: purple; }
[class="bi bi-envelope"]    { color: purple; }
[class|="bi bi-star"] { 
    text-shadow: 0 0 3px #000; 
    color: 
    yellow 
}

#parentImage{
    border-radius: 50%;
}


#header{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

#bullets, #ref, #ICE {
    font-size: 20px;
}

.bookBTN, #bookBtn {
    border: none;
    background-color: #d596e8;
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    padding: 12px 28px;
}

.bookBTN:hover{
    background-color: #9569A2;
    color: white;
}

/* Inline styling  */
.sub-col{
    background-color: rgb(233, 201, 243);
    border-radius: 15px;
}

/* Col1 and Col2 styling  */
#col-2{
    margin-left: 150px;
    width: 350px;
    height: 625px;
    padding: 20px;
    text-align: left;
}


#col-3{
    float: right;
    display: table;
    margin-right: 100px;
    margin-left: auto;
    padding: 20px;
    font-size: 25px;
    text-align: left;
    width: 350px;
    height: 625px;
}

#person-name, #e-mail, #phoneNum, #bullets{
    color: #36454F;
}


/* POPUPS */

.popup-cont{
    position: fixed;
    z-index: 99999999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: none;
    text-align: center;
}

.popup-cont .pop-up{
    height: 400px;
    width: 300px;
    background: #c46ddf;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* sigle */
/* #single{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #c46ddf;
    z-index: 9;
    background-color: #c46ddf;
    font-size: 20px;
    text-align: center;
} */

#TaskBtn{
    float: right; 
    border: none;
    border-radius: 10px;
    background-color:#d596e8 ;
}

/* question popup */
/* #popUP{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid;
    border-color: #c46ddf;
    z-index: 9;
    background-color: #c46ddf;
    font-size: 20px;
    text-align: center;
} */

#cancle{
    border: none;
    float: left;
    background-color:  #d596e8;
    border-radius: 5px;
    margin: 10px;
}

/* recurring styling */
/* #recurring, #confirmation{
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid;
    border-color: #c46ddf;
    z-index: 9;
    background-color: #c46ddf; 
    font-size: 20px;
    text-align: center;
}  */

#fetures1{
    border: none;
    background-color: lightblue;
    border-radius: 5px;
    font-size: 10px;
    float: left;
}

#fetures2{
    border: none;
    background-color: lightblue;
    border-radius: 5px;
    font-size: 10px;
    float: right; 
}

.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: #88df6d;
    color: #ffffff;
  }

  